@import "../../../styles/common.scss";

main {
  width: 935px;
  margin: 0 auto;
  @include flex-justify-between;
  padding-top: 80px;
}

.feed {
  display: flex;
  flex-direction: column;
  width: 614px;
  margin: 16px 28px 16px 0;
}
