@import "../../../styles/common.scss";

main {
  width: 935px;
  margin: 0 auto;
  @include flex-justify-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.feed {
  display: flex;
  width: 614px;
  @include border;
  border-radius: 4px;
  background-color: #ffffff;
  margin-right: 28px;
}
