* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article img {
  width: 612px;
}

article .article_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 612px;
  height: 60px;
  padding: 16px;
}

article .article_header p {
  position: absolute;
  line-height: 30px;
  justify-self: flex-start;
  left: 68px;
  font-weight: 600;
  color: #262626;
}

article .article_header .profile_box {
  vertical-align: middle;
  margin-right: 12px;
}

article .article_header .profile_box .feed_profile {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 70%;
}

article .article_header .fa-ellipsis-h {
  margin-top: 6px;
}

article .feed_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 614px;
  padding: 12px;
}

article .feed_icon .fa-heart {
  width: 32px;
  color: #ed4956;
}

article .feed_icon .fa-comment {
  width: 32px;
}

article .feed_icon .fa-share-square {
  width: 32px;
}

article .like_people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article .like_people img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 70%;
}

article .like_people .like_people_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 12px 0 12px;
}

article .like_people .like_text {
  line-height: 18px;
  margin: 6px 0 0 0px;
  color: #262626;
}

article .like_people .like_text .boldText {
  font-weight: 700;
}

article .user_commentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article .user_commentbox .comment_id {
  font-weight: 800;
  color: #262626;
  margin: 12px 12px 6px 12px;
}

article .user_commentbox .comment_text {
  color: #262626;
  margin: 12px 0 0px 0;
}

article .comment_time {
  margin: 0 0 12px 12px;
}

article .comment_time p {
  font-size: 12px;
  color: #8e8e8e;
}

article .commentList li {
  font-size: 14px;
  margin: 0 16px 16px 12px;
  list-style: none;
}

article .commentList li span {
  font-weight: 800;
}

article .commentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 614px;
  height: 56px;
  padding: 0 16px;
  border-top: 1px solid #dbdbdb;
}

article .commentbox .input_comment {
  width: 520px;
  height: 40px;
  border-radius: 0 0 4px 4px;
  border: none;
  padding: 0 16px;
}

article .commentbox .input_comment .input_comment:focus {
  outline: none;
}

article .commentbox .submit_button {
  width: 70px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  color: #0095f6;
}
/*# sourceMappingURL=Article.css.map */