.CommentList {
  padding: 0 0 6px 0;
  font-size: 14px;
  margin: 0 0 4px 0;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
}

span {
  margin: 12px 6px 6px 12px;
  font-weight: 700;
  font-size: 16px;
}
