* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

/* main right */
.main_right {
  width: 320px;
  margin-left: 650px;
  position: fixed;
}

.main_right .myprofile_insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 10px;
}

.main_right .myprofile_insta .myprofile_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-right: 16px;
}

.main_right .myprofile_insta .myprofile_box .myprofile_img {
  width: 56px;
  height: 56px;
  border-radius: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main_right .user_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_right .user_information .userid_profile,
.main_right .user_information .otherUserId {
  color: #262626;
  font-weight: 800;
}

.main_right .user_information .username {
  color: #8e8e8e;
}

.main_right .section_story {
  width: 290px;
  height: 228px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  overflow: hidden;
}

.main_right .section_story .story_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_right .section_story .story_title .story {
  color: #8e8e8e;
  vertical-align: middle;
  font-size: 14px;
}

.main_right .section_story .story_title .viewall {
  font-size: 12px;
  color: #262626;
  vertical-align: middle;
}

.main_right .section_story .user_story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_right .section_story .user_story .other_profilebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 12px 8px 0;
}

.main_right .section_story .user_story .other_username {
  margin-top: 4px;
  color: #8e8e8e;
  font-size: 12px;
}

.main_right .section_story .user_story .other_userinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_right .section_story .user_story .other_profileimg {
  width: 38px;
  height: 38px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 70%;
}

.main_right .policyInfo {
  width: 290px;
}

.main_right .policyInfo p {
  font-size: 11px;
  color: #c7c7c7;
  margin-bottom: 12px;
}

.main_right .policyInfo span {
  font-size: 11px;
  color: #c7c7c7;
}
/*# sourceMappingURL=Aside.css.map */